.Login-main-container {
    background-image: url("src/assets/images/login-bg.png");
    height: 100vh;
    margin: -0px;
    padding: -0px;
}

.login-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-top: 20px;*/
}

.register-form {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 573px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    height: 730px;
    max-width: 80%;
    max-height: 80%;
}

.login-form {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 573px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    height: 550px;
    max-width: 80%;
    max-height: 80%;
}

.login-text-1 {
    font-size: 22px;
    font-weight: bold;
    color: #282828;
    font-family: Poppins, sans-serif;
}

.login-text-2 {
    font-size: 16px;
    font-weight: 200;
    color: #979797;
    font-family: Poppins, sans-serif;
    padding-bottom: 40px;
}

.user-box-text-1 {
    font-size: 16px;
    font-weight: 400;
    color: #161219;
    font-family: Poppins, sans-serif;
}

.user-box-box-1 {
    height: 60px;
    width: 474px;
    background-color: #F3F3FF;
    margin-bottom: 30px;
}

.remember-box-text-1 {
    color: #979797;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    margin-left: 10px;
}

.remember-box-text-2 {
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    margin-left: 10px;
    color: black;
}

.button-box {
    background-color: #7366FF;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="date"], input[type="tel"], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.remember-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.forget-box {
    font-size: 16px;
    font-weight: 200;
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
    color: #2979FF;
}

.under-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.under-button-text-1 {
    font-size: 16px;
    font-weight: 200;
    color: #979797;
    font-family: Poppins, sans-serif;
}

.button-box > a {
    color: #fff;
    font-weight: 700;
}