.main-container-ss {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0 0 0 0;
}

.container-ss-small {
    display: flex;
    align-items: center;
    padding-left: 70px;
    width: 100%;
}

.container-ss-small-icon img {
    height: 40px;
    margin-right: 20px;
}

.container-ss-small-text {
    text-align: center;
}

.container-ss-small-text-1 {
    font-weight: 600;
    font-size: 18px;
}

.flexing-container-ss {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    padding: 0 0 0 0;
}

.flexing-container-text-ss {
    margin-left: 100px;
    max-width: 55%;
}

.flexing-container-text-1-ss {
    font-family: 'Prata', sans-serif;
    font-size: 80px;
}

.flexing-container-text-2-ss {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.flexing-container-image-ss {
    margin-top: 100px;
}